
<nav class="navbar navbar-expand-lg bg-dark bg-opacity-75">
  <img src="/assets/logo.png" alt="" width="300">
  
    <div class="container-fluid" id="navbar">
      <div class="col-sm-2"></div>
        <a class="navbar-brand" href="" >Home</a>
      <div class="col-sm-2"></div>
        <a class="navbar-brand" href=""> Tours</a>
      <div class="col-sm-2"></div>
        <a class="navbar-brand" href=""> FAQ</a>
      <div class="col-sm-2"></div>
        <a class="navbar-brand" href=""> Blogs</a>
      <div class="col-sm-1"></div>
        <a class="navbar-brand" href=""> ADObs</a>
    </div>
      <button class="btn btn-primary">iniciar sesion</button>
</nav>


<div class="container-fluid " id="imagen1">
  <div class="container" id="infoimagen1">
    <div class="row">
      <div class="col-sm-12">
        <h1>¿Listo para una aventura de otro mundo?</h1>
          <div class="container" id="botonmedio"> 
            <button class="btn btn-primary p-4 ">Ver Tours Dispnibles</button>
          </div>
      </div>
    </div>
    
  </div>
</div>


<div class="container-fluid" id="imagen2">
  <div class="container" id="infoimagen2">
        <h1>Tours Astronomicos👩‍🚀</h1>
    </div>
    <div class="container" id="toursp ">
      <div class="row p-3">
        <div class="col-sm-3">
          <img src="/assets/TOUR_ASTRO_PRIV.jpg" alt="" width="200">
        </div>
        <div class="col-sm-9">
          <p class="text-white">Tour Astronomico Privado</p>
          <p class="text-white">Este tour privado es perfecto 
            para aquellos que buscan una experiencia intima con
             el universo. con nuestro equipo de astronomos expertos.</p>
        </div>
      </div>

      <div class="row p-3">
        <div class="col-sm-3">
          <img src="/assets/TOUR_ASTRO_FOTO_PRIV.jpg" alt="" width="200">
        </div>
        <div class="col-sm-9">
          <p class="text-white">Tour Astro Fotografico Privado</p>
          <p class="text-white">Este tour es perfecto para aquellos que buscan una 
            experiencia personalizada y exclusiva. Con nuestro equipo de astronomos esxpertos.
            Te llevaremos a traves de un recorrido celestial. </p>
        </div>
      </div>

      <div class="row p-3">
        <div class="col-sm-3">
          <img src="/assets/TOUR_ASTROLUNAR.png" alt="" width="200">
        </div>
        <div class="col-sm-9">
          <p class="text-white">Tour AstroLunar</p>
          <p class="text-white">Este tour ofrece una miradaparticular a nuestro unico satelite.
            Con nuestro equipo de astronomos expertos. Te llevaremos a mirar los detalles 
            impresionantes de nuestra luna. </p>
        </div>
      </div>

      <div class="row p-3">
        <div class="col-sm-3">
          <img src="/assets/TOUR_ASTRO_GRP.jpg" alt="" width="200">
        </div>
        <div class="col-sm-9">
          <p class="text-white">Tours Astronomico en Grupo</p>
          <p class="text-white">¡Unete a un grupo de aficionados a la astronomia!.
            En este grupo ofrece una experiencia social y educativa. Con nuestro equipo de 
            astronomos expertos y nuestros telescopios de alta
          </p>
        </div>
      </div>
   </div>
     
<div class="container-fluid " id="primero" >
  <div class="container" id="primer1">
    <h1 class="text-white">¿Tienes una duda? Contactenos ☎ </h1>
    <form>
      <label class="text-white" for="nombre">Nombre Completo:</label>
      <input class="form-control" type="text" nombre="nombre" id="nombre"/>

      <label class="text-white" for="correo electronico">Correo Electronico:</label>
      <input class="form-control" type="tex" nombre="correo electronico" id="correo electronico" required/>

      <label class="text-white" for="numero de celular">Numero de Celular</label>
      <input class="form-control" type="int" id="fecha" name="fecha" requeried />

      <label class="text-white" for="comentario">comentario:</label>
      <input class="form-control" type="text" nombre="comentario" id="comentario" required/>
        <div class="container" id="enviar">
        <button>ENVIAR</button>
        </div>
    </form>
  </div>
</div>




<!-- 
<nav class=>
  <img src="">
    <div class="container-fluid " id="segundo" >
      <div class="row">
        <div class="col-sm-1"></div>
          <div class="col-sm-3 bg-danger">
          <h4>carlos diosito maradona</h4>
        </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-5 bg-primary">
          <h4>lolipop</h4>
        </div>
      </div>
    </div>
</nav>
-->









  
